name: CI

on: [pull_request]

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.1.0
        with:
          args: --strict

  macOS:
    runs-on: macos-12
    env:
      XCODE_VERSION: ${{ '14.1' }}
    steps:
      - name: Select Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XCODE_VERSION.app"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and Run
        run: rake build[release]
      - name: Test
        run: rake test

  linux:
    runs-on: ubuntu-latest
    container:
      image: swift:5.7.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Ruby
        run: apt-get update && apt-get install -y ruby zlib1g-dev
      - name: Build and Run
        run: LANG=en_US.UTF-8 LC_CTYPE=UTF-8 rake build[release]
      - name: Test
        run: LANG=en_US.UTF-8 LC_CTYPE=UTF-8 rake test
